<%- include("partials/header") -%>


<div class="container-fluid p-4">
    <p>ФИЛИАЛ ТОВАРИЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "SINOOIL" В ГОРОДЕ АСТАНА<br>ИИН/БИН: 041141006344<br>Сер. номер ККМ: 302204310960<br>Регистрационный номер: 010101210607<br>Адрес торговой точки: г. Нур-Султан, р-н Байконыр, Әл-Фараби 36</p><p><br>Продажа&nbsp;<br>ФП: 1554423450</p><p><%= dateQuantity.substring(0,4) + "-" + dateQuantity.substring(4,6) + "-" + dateQuantity.substring(6,8) + " " + dateQuantity.substring(8,10) + ":" + dateQuantity.substring(10,12) %></p><p>&nbsp;</p><p>№ Название &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>1. TPK 6 ДТ-Л-К2 <%= dateQuantity.substring(12) %> x 450.00 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p><p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p>Отдел &nbsp; &nbsp;Цена &nbsp; Кол-во &nbsp; Ед.изм. &nbsp;Сумма &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p><p>&nbsp; &nbsp; 1 &nbsp; &nbsp; &nbsp; &nbsp; 0,00 &nbsp; &nbsp; &nbsp; <%= dateQuantity.substring(12) %> &nbsp; &nbsp; &nbsp; &nbsp;796 &nbsp; &nbsp; &nbsp; &nbsp;0,00&nbsp;<br>&nbsp;</p><p>&nbsp;</p><p>ИТОГО: 0,00 ₸<br>Карта 0,00 ₸<br>В том числе налоги<br>12,00 %<br>0,00 ₸<br>ФП: &nbsp;1554423450</p>
</div>





<%- include("partials/footer") -%>