<%- include("partials/header") -%>

<div>
    <h1>Чек табылды!</h1>
    <div class="main-div">
        
        <div class="row text-center">
            <div class="col-12">
                <div >ФИЛИАЛ ТОВАРИЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "SINOOIL" В ГОРОДЕ АСТАНА</div>
                <div>ЖСН/БСН: 041141006344</div>
                <div> БКМ сериялық нөмері: 302204310960 </div>
                <div>Тіркеу нөмірі: 010101210607</div>
                <div>Сауда орынның мекен-жайы: г. Нур-Султан, р-н Байконыр, Әл-Фараби 36</div>
                <br><br>
                <div>Сату</div>
                <div> ФБ: 1554423450</div>
                <div><%= dateQuantity.substring(6,8) + "." + dateQuantity.substring(4,6) + "." + dateQuantity.substring(0,4) + " / " + dateQuantity.substring(8,10) + ":" + dateQuantity.substring(10,12) %></div>
            </div>
        </div>
        <div class="stars-div">
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
        </div>
        <div>
            <div  class="head-cash-voucher ticket-columns">
                <div class="section-2-div">
                    <div class="section-2-head">№</div>
                    <div class="section-2-detail">1.</div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Атауы</div>
                    <div class="section-2-detail">TPK <%= dateQuantity.substring(12,13) %> ДТ-Л-К2 <%= dateQuantity.substring(13) + ".00" %> x 450.00</div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Бөлім</div>
                    <div class="section-2-detail">1</div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Бағасы&nbsp;₸</div>
                    <div class="section-2-detail">0,00</div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Саны</div>
                    <div class="section-2-detail"><%= dateQuantity.substring(13) %></div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Өлшем бірлігі</div>
                    <div class="section-2-detail">дана</div>
                </div>
                <div class="section-2-div">
                    <div class="section-2-head">Сомасы&nbsp;₸</div>
                    <div class="section-2-detail">0,00</div>
                </div>
            </div>
        </div>
        <div class="stars-div">
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
        </div>
        <div>
            <div class="section-3-div-left">
                <div class="section-3-info-bold-left">БАРЛЫҒЫ:</div>
                <div class="section-3-info-left">Карта</div>
                <div class="section-3-info-left">Оның ішінде салықтар</div>
                <div class="section-3-info-left">12,00 %</div>
            </div>
            <div class="section-3-div-right">
                <div class="section-3-info-bold-right">0,00&nbsp;₸</div>
                <div class="section-3-info-right">0,00&nbsp;₸</div>
                <div class="section-3-info-right">&nbsp;</div>
                <div class="section-3-info-right">0,00&nbsp;₸</div>
            </div>
        </div>
        <div class="stars-div">
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
        </div>
        <div class="row text-center">
            <div class="col-md-12"><span>ФБ</span>:&nbsp; 1554423450</div>
        </div>
        <div class="stars-div">
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
            <img class="stars-none" src="img/grey-star.png"></img>
        </div>
    </div>
</div>




<%- include("partials/footer") -%>