<%- include("partials/header") -%>

<div>
    <h1 style="color: white;">Чек табылды!</h1>
    <div style="border-style: groove; border-radius: 5%; width: 45%; left: 22%; padding: 1%; background-color: white; display: inline-block; font-size: 1.5rem;">
        
        <div class="row text-center">
            <div class="col-12">
                <div >ФИЛИАЛ ТОВАРИЩЕСТВА С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "SINOOIL" В ГОРОДЕ АСТАНА</div>
                <div>ЖСН/БСН: 041141006344</div>
                <div> БКМ сериялық нөмері: 302204310960 </div>
                <div>Тіркеу нөмірі: 010101210607</div>
                <div>Сауда орынның мекен-жайы: г. Нур-Султан, р-н Байконыр, Әл-Фараби 36</div>
                <br><br>
                <div>Сату</div>
                <div> ФБ: 1554423450</div>
                <div><%= dateQuantity.substring(6,8) + "." + dateQuantity.substring(4,6) + "." + dateQuantity.substring(0,4) + " / " + dateQuantity.substring(8,10) + ":" + dateQuantity.substring(10,12) %></div>
            </div>
        </div>
        <div style="margin: 3% 0;">
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
        </div>
        <div>
            <div  class="head-cash-voucher ticket-columns">
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">№</div>
                    <div style="margin-top: 2%; text-align: left;">1.</div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Атауы</div>
                    <div style="margin-top: 2%; text-align: left;">TPK <%= dateQuantity.substring(12,13) %> ДТ-Л-К2 <%= dateQuantity.substring(13) + ".00" %> x 450.00</div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Бөлім</div>
                    <div style="margin-top: 2%; text-align: left;">1</div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Бағасы</div>
                    <div style="margin-top: 2%; text-align: left;">0,00</div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Саны</div>
                    <div style="margin-top: 2%; text-align: left;"><%= dateQuantity.substring(13) %></div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Өлшем бірлігі</div>
                    <div style="margin-top: 2%; text-align: left;">дана</div>
                </div>
                <div style="display: inline-block; margin: 1% 1% 2% 1%;">
                    <div style="text-align: left; font-weight: bold;">Сомасы</div>
                    <div style="margin-top: 2%; text-align: left;">0,00</div>
                </div>
            </div>
        </div>
        <div style="margin: 3% 0;">
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
        </div>
        <div>
            <div style="display: inline-block; width: 35%; margin: 5% 10% 2% 2%; left: 2%;">
                <div style="font-weight: bold; text-align: left; margin-top: 4%;">БАРЛЫҒЫ:</div>
                <div style="text-align: left; margin-top: 4%;">Карта</div>
                <div style="text-align: left; margin-top: 4%;">Оның ішінде салықтар</div>
                <div style="text-align: left; margin-top: 4%;">12,00 %</div>
            </div>
            <div style="display: inline-block; width: 35%; margin: 5% 2% 2% 10%; right: 2%;">
                <div style="font-weight: bold; text-align: right; margin-top: 4%;">0,00&nbsp;₸</div>
                <div style="text-align: right; margin-top: 4%;">0,00&nbsp;₸</div>
                <div style="text-align: right; margin-top: 4%; display: block;">&nbsp;</div>
                <div style="text-align: right; margin-top: 4%;">0,00&nbsp;₸</div>
            </div>
        </div>
        <div style="margin: 3% 0;">
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
        </div>
        <div class="row text-center">
            <div class="col-md-12"><span>ФБ</span>:&nbsp; 1554423450</div>
        </div>
        <div style="margin: 3% 0;">
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
            <img style="width: 2%; height: 2%;" src="img/grey-star.png"></img>
        </div>
    </div>
</div>




<%- include("partials/footer") -%>